<div class="page-heading">
  <h2>Ongoing Contests</h2>
</div>
<% if @contests.empty? %>
  <h5 class="no-contest mt-4 mb-5 text-muted">
    <strong>No active contest found for this category. Be the first user to start one!</strong>
    <div>
      <%= link_to "Create New Contest", new_contest_path, class: "btn btn-success mt-3 mb-5", id: "create_new" %>
    </div>
  </h5>
<% else %>
  <%= link_to "Create New Contest", new_contest_path, class: "btn btn-success mt-3 mb-3", id: "create_new" %>
  <div class="row">
    <% @contests.each do |contest| %>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 p-3 mb-1">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= contest.name %></h5>
            <p>
              <h6 class="card-subtitle mb-2 text-muted ">created by: <%= contest.user.username %></h6>
            </p>
            <p class="card-text"><%= contest.description %></p>
            <div>
              <span class="badge badge-price p-2 mt-2">£<%= number_with_delimiter(contest.show_payout, :delimiter => ',', :precision => '2') %></span>
              <% if contest.is_student_only == true %>
                <span class="badge badge-primary p-2 mt-2" style="color: white "><strong>Students Only</strong></span>
              <% end %>
            </div>
            <p class="badge-ending-date">Ends on: <%= contest.ending_on %></span></p>
            <% if current_user %>
              <% if current_user == contest.user %>
                <div class="d-flex">
                  <%= link_to "View", contest, class: "btn btn-secondary w-50 mr-2" %>
                  <% if !contest.has_ended %>
                    <%= link_to "Edit", edit_contest_path(contest), class: "btn btn-secondary w-50 mr-2" %>
                  <% elsif !contest.evaluated %>
                    <%= link_to 'Payout', contest_evaluate_path(contest), class: "btn btn-primary w-50 mr-2" %>
                  <% end %>
                </div>
              <% elsif current_user != contest.user %>
                <% if !contest.has_ended %>
                  <div class="d-flex">
                    <%= link_to "View", contest, class: "btn btn-secondary w-50 mr-2" %>
                    <%= link_to 'Enter', new_contest_submission_path(contest), class: "btn btn-success w-50 mr-2" %>
                  </div>
                <% end %>
              <% end %>
            <% else %>
              <%= link_to "View", contest, class: "btn btn-secondary w-100" %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<div class="page-heading mt-4">
  <h2>Past Contests</h2>
</div>
<% if !@past_contests.empty? %>

  <div class="past-contests-container">
    <div class="row">
      <% @past_contests.each do |contest| %>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 p-3 mb-1">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= contest.name %></h5>
              <p>
                <h6 class="card-subtitle mb-2 text-muted">created by: <%= contest.user.username %></h6>
              </p>
              <p class="card-text"><%= contest.description %></p>
              <div>
                <span class="badge badge-price p-2 mt-2">£<%= number_with_delimiter(contest.show_payout, :delimiter => ',', :precision => '2') %></span>
                <% if contest.is_student_only == true %>
                  <span class="badge badge-primary p-2 mt-2" style="color: white "><strong>Students Only</strong></span>
                <% end %>
              </div>
              <p class="badge-ending-date">Ends on: <%= contest.ending_on %></span></p>
              <%= link_to "View", contest, class: "btn btn-secondary w-100" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <h5 class="no-contest mt-4 mb-5 text-muted">
    <strong>No past contests found for this category.</strong></h5>
<% end %>
