<div class="page-heading">
  <h2>Account Summary</h2>
</div>
<div class="row">
  <div class="col-lg-6 col-md-6 p-1 mt-1">
    <div class="card border-white">
      <div class="card text-white bg-dark">
        <div class="row">
          <div class="col-4 text-center mt-4">
            <i class="fas fa-wallet fa-5x"></i>
          </div>
          <div class="col-7 text-center summary-texts pt-4 pb-3">
            <h1><%= number_to_currency(@total_paid_out, unit: "£", separator: ".", delimiter: ",") %></h1>
            <h4><strong>FUNDS PAID OUT</strong></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 p-1 mt-1">
    <div class="card border-white">
      <div class="card text-white bg-dark">
        <div class="row">
          <div class="col-5 text-center pr-2 mt-4">
            <i class="fas fa-users fa-5x"></i>
          </div>
          <div class="col-6 text-center summary-texts pt-4 pb-3">
            <h1><%= current_user.created_at.strftime("%m/%d/%Y") %></h1>
            <h4><strong>JOIN DATE</strong></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="page-heading mt-5">
  <h2>My Contests</h2>
</div>

<% if !@unranked_contests.empty? %>
  <div class="page-heading mt-3">
    <h5>Need Evaluating or have received zero Submissions: <%= @unranked_contests.size %>
      <strong> contest(s) - you may edit past contests that have no submissions.</strong></h5>
  </div>
  <div class="row">
    <% @unranked_contests.each do |contest| %>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 p-3 mb-1">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= contest.name %></h5>
            <p>
            <h6 class="card-subtitle mb-2 text-muted ">created by: <%= contest.user.username %></h6>
            </p>
            <p class="card-text"><%= contest.description %></p>
            <div>
              <span class="badge badge-price p-2 mt-2">£<%= number_with_delimiter(contest.show_payout, :delimiter => ',', :precision => '2') %></span>
              <% if contest.is_student_only == true %>
                <span class="badge badge-primary p-2 mt-2" style="color: white "><strong>Students Only</strong></span>
              <% end %>
            </div>
            <p class="badge-ending-date">Ends on: <%= contest.ending_on %></span></p>
            <% if current_user %>
              <% if contest.submissions.empty? %>
                <div class="d-flex">
                  <%= link_to "View", contest, class: "btn btn-secondary w-50 mr-2" %>
                  <%= link_to 'Edit', edit_contest_path(contest), class: "btn btn-secondary w-50 mr-2" %>
                </div>
              <% else %>
                <div class="d-flex">
                  <%= link_to "View", contest, class: "btn btn-secondary w-50 mr-2" %>
                  <%= link_to 'Payout', contest_evaluate_path(contest), class: "btn btn-primary w-50 mr-2" %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<% if !@unpaid_contests.empty? %>
  <div class="page-heading mt-2">
    <h5>Inactive: <%= @unpaid_contests.size %> -<strong> Deposit funds to start contests!</strong></h5>
  </div>
  <div class="row">
    <% @unpaid_contests.each do |contest| %>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 p-3 mb-1">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= contest.name %></h5>
            <h6 class="card-subtitle mb-2 text-muted ">created by: <%= contest.user.username %></h6>
            <p class="card-text"><%= contest.description %></p>
            <div>
              <span class="badge badge-price p-2 mt-2">£<%= number_with_delimiter(contest.show_payout, :delimiter => ',', :precision => '2') %></span>
              <% if contest.is_student_only == true %>
                <span class="badge badge-primary p-2 mt-2" style="color: white "><strong>Students Only</strong></span>
              <% end %>
            </div>
            <p class="badge-ending-date">Ends on: <%= contest.ending_on %></span></p>
            <% if current_user %>
              <div class="d-flex">
                <%= link_to "View", contest, class: "btn btn-secondary w-50 mr-2" %>
                <%= link_to 'Edit', edit_contest_path(contest), class: "btn btn-secondary w-50 mr-2" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<% if !@ongoing_contests.empty? %>
  <div class="page-heading mt-3">
    <h5>Ongoing Contests: <%= @ongoing_contests.size %></h5>
  </div>
  <div class="row">
    <% @ongoing_contests.each do |contest| %>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 p-3 mb-1">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= contest.name %></h5>
            <p>
            <h6 class="card-subtitle mb-2 text-muted ">created by: <%= contest.user.username %></h6>
            </p>
            <p class="card-text"><%= contest.description %></p>
            <div>
              <span class="badge badge-price p-2 mt-2">£<%= number_with_delimiter(contest.show_payout, :delimiter => ',', :precision => '2') %></span>
              <% if contest.is_student_only == true %>
                <span class="badge badge-primary p-2 mt-2" style="color: white "><strong>Students Only</strong></span>
              <% end %>
            </div>
            <p class="badge-ending-date">Ends on: <%= contest.ending_on %></span></p>
            <% if current_user %>
              <div class="d-flex">
                <%= link_to "View", contest, class: "btn btn-secondary w-50 mr-2" %>
                <%= link_to "Edit", edit_contest_path(contest), class: "btn btn-secondary w-50 mr-2" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>


<% if !@evaluated_contests.empty? %>
  <div class="page-heading mt-3">
    <h5>Previous Contests: <%= @evaluated_contests.size %></h5>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Contest</th>
      <th scope="col">Title</th>
      <th scope="col">Funds Paid</th>
    </tr>
    </thead>
    <tbody>

    <% @evaluated_contests.each do |contest| %>
      <tr>
        <td><%= link_to "View", contest, class: "btn btn-secondary download" %></td>
        <td><%= contest.name %></td>
        <td>£<%= number_with_delimiter(contest.show_payout, :delimiter => ',', :precision => '2') %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>


<%= link_to "Delete Account Here", registration_path(current_user), class: "cancel-link", style: "color: red", data: {confirm: "Are you sure?"}, method: :delete %>
